{% load tailwind_cli static %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <title>Falsetto | {% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen bg-base-100">

    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock footer %}

</body>

</html>