{% load tailwind_cli static %}
<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
    <title>Falsetto | {% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen bg-base-100">

    {% include 'components/navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

</body>

</html>