{% load tailwind_cli static %}
<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Falsetto | {% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen bg-base-100">

    <nav>
        {% include 'components/navbar.html' %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include 'components/footer.html' %}
    </footer>

</body>

</html>